/* add your CSS here */

.container {
  border: 1px solid silver;
  border-radius: 2px;
  max-width: 312px;
  box-shadow: 10px 10px 5px #DCDCDC;
  font-family: Tahoma Arial;
}

.header {
    margin-left: 10px;
    font-size: 25px;
}

.content {
  border: 1px solid silver;
  border-radius: 5px;
  margin: 5px 5px;
}

.info {
  padding: 10px;
}

.italic {
  font-style: italic;
}

ul {
  list-style: none;
  padding-left: 0px;
}

.list-title {
  font-weight: bold;
}
